.container{
	border-radius:10px;
    width: 60%;
    padding: 20px;box-shadow:0px 0px 20px #957575 ;
    animation: example1 0.5s ease-in-out ;
    margin: auto;
    height:400px;
    margin-top: 50px;   
    text-align: center;
    backdrop-filter: blur(10px);
}

@keyframes example1 {
    0%   {transform: translate(0px ,50px); opacity:0.5;}
	100% {transform: translate(0px ,0px); opacity:1;}
    
}
@media only screen and (max-width: 450px) {
	.container {
		width:80%;
        height: 500px;
	}
}

body{
    font:13px "Work Sans", sans-serif;
    color: aliceblue;
    background-image: url('img_5.png');
	background-size:cover;
}
h1{
    font-weight: 400;
}
div{
    margin-bottom: 40px;
}
.back{
    width: 20px;
    height: 20px;
}
i{
    font-size: 20px;
}
a{
    padding-left: 5px;
    color: #ffffff;;

}
a:hover {
    color:#cbddde ;
}
.btn{
    width:100px;
    height:30px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #212121;
    color: white;
    transform: translate(0px,-3px);
}
.prev-guess{
    background-color: #cbddde;
    color: #212121;
    padding: 2px;
    border-radius: 2px;
}